<h2><%= title %></h2>

<!-- Flash messages -->
<%- messages() %>

<!-- Errors -->
<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>


<form action="/inv/add-inventory" method="Post" class="addInv">
    <label for="classificationList">Classification</label>
    <%- classificationSelect %>

    <label for="inv_make">Inventory Make</label>
    <input type="text" id="inv_make" name="inv_make" required value="<%= inv_make %>">

    <label for="inv_model">Inventory Model</label>
    <input type="text" id="inv_model" name="inv_model" required value="<%= inv_model %>">

    <label for="inv_year">Inv. Year</label>
    <input type="number" id="inv_year" name="inv_year" required value="<%= inv_year %>">

    <label for="inv_description"> Inv. Description</label>
    <textarea id="inv_description" name="inv_description" required><%= inv_description %></textarea>

    <label for="inv_image">Image Path</label>
    <input type="text" id="inv_image" name="inv_image" required value="<%= inv_image %>">

    <label for="inv_thumbnail">Thumbnail Path</label>
    <input type="text" id="inv_thumbnail" name="inv_thumbnail" required value="<%= inv_thumbnail %>">

    <label for="inv_price">Inv. Price</label>
    <input type="number" id="inv_price" name="inv_price" required value="<%= inv_price %>">

    <label for="inv_miles">Inv. Miles</label>
    <input type="number" id="inv_miles" name="inv_miles" required value="<%= inv_miles %>">

    <label for="inv_color">Inv. Color</label>
    <input type="text" id="inv_color" name="inv_color" required value="<%= inv_color %>">

    <button type="submit">Add/update Vehicle</button>
</form>